body {
      margin: 0;
      padding: 20px;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

    .video-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /* space between videos */
    }

    .video-container video {
      width: 100%;
      max-width: 700px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

  .shine-button {
      position: relative;
      padding: 12px 24px;
      background-color: #0b0b0b;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top:450px ;
      justify-content: center;
      margin-left: 750px;
    }

    .shine-button::before {
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.2) 100%
      );
      transform: skewX(-20deg);
    }

    .shine-button:hover::before {
      left: 125%;
      transition: left 0.6s ease;
    }
  
